In [2]:
!pip install wbdata duckdb

import wbdata
import duckdb
import pandas as pd
import datetime
countries = ['USA', 'GB', 'IN', 'KE', 'BR']

indicators = {
    'SP.DYN.LE00.IN': 'life_expectancy',
    'SH.DYN.MORT': 'under5_mortality',
    'SP.ADO.TFRT': 'adolescent_fertility',
    'SE.SEC.ENRR': 'secondary_school_enrollment'
}

df = wbdata.get_dataframe(indicators, country=countries)
df = df.reset_index()

df['year'] = pd.to_datetime(df['date']).dt.year

df = df[(df['year'] >= 2000) & (df['year'] <= 2023)]

Collecting wbdata
  Downloading wbdata-1.0.0-py3-none-any.whl.metadata (2.6 kB)
Collecting duckdb
  Downloading duckdb-1.3.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (7.0 kB)
Requirement already satisfied: appdirs<2.0,>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from wbdata) (1.4.4)
Collecting backoff<3.0.0,>=2.2.1 (from wbdata)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: cachetools<6.0.0,>=5.3.2 in /opt/anaconda3/lib/python3.12/site-packages (from wbdata) (5.3.3)
Collecting dateparser<2.0.0,>=1.2.0 (from wbdata)
  Downloading dateparser-1.2.1-py3-none-any.whl.metadata (29 kB)
Requirement already satisfied: decorator<6.0.0,>=5.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3.0,>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from wbdata) (2.32.3)
Collecting shelved-cache<0.4.0,>=0.3.1 (from wbdata)
  Downloading shelved_cache-0.3.1-py3-none-any.whl.metadata (4.7 kB)
Collecting tabulate<0.9.0,>=0.8.5 (from wbdata)
  Downloading tabulate-0.8.10-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: python-dateutil>=2.7.0 in /opt/anaconda3/lib/python3.12/site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2.9.0.post0)
Collecting pytz>=2024.2 (from dateparser<2.0.0,>=1.2.0->wbdata)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27,>=2015.06.24 in /opt/anaconda3/lib/python3.12/site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2024.9.11)
Requirement already satisfied: tzlocal>=0.2 in /opt/anaconda3/lib/python3.12/site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (2025.6.15)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7.0->dateparser<2.0.0,>=1.2.0->wbdata) (1.16.0)
Downloading wbdata-1.0.0-py3-none-any.whl (18 kB)
Downloading duckdb-1.3.1-cp312-cp312-macosx_12_0_arm64.whl (15.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.5/15.5 MB 14.7 MB/s eta 0:00:0000:0100:01
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading dateparser-1.2.1-py3-none-any.whl (295 kB)
Downloading shelved_cache-0.3.1-py3-none-any.whl (7.8 kB)
Downloading tabulate-0.8.10-py3-none-any.whl (29 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, tabulate, shelved-cache, duckdb, backoff, dateparser, wbdata
  Attempting uninstall: pytz
    Found existing installation: pytz 2024.1
    Uninstalling pytz-2024.1:
      Successfully uninstalled pytz-2024.1
  Attempting uninstall: tabulate
    Found existing installation: tabulate 0.9.0
    Uninstalling tabulate-0.9.0:
      Successfully uninstalled tabulate-0.9.0
Successfully installed backoff-2.2.1 dateparser-1.2.1 duckdb-1.3.1 pytz-2025.2 shelved-cache-0.3.1 tabulate-0.8.10 wbdata-1.0.0

In [ ]:
duckdb.sql("CREATE OR REPLACE VIEW wdi_raw AS SELECT * FROM df")

df_clean = duckdb.sql("""
SELECT
  country,
  year,
  MAX(life_expectancy) AS life_expectancy,
  MAX(under5_mortality) AS under5_mortality,
  MAX(adolescent_fertility) AS adolescent_fertility,
  MAX(secondary_school_enrollment) AS secondary_school_enrollment
FROM wdi_raw
GROUP BY country, year
ORDER BY country, year
""").df()

df_clean.head()

,country,year,life_expectancy,under5_mortality,adolescent_fertility,secondary_school_enrollment
0,Brazil,2000,69.584000,34.5,85.611,NaN
1,Brazil,2001,69.980000,32.2,84.155,NaN
2,Brazil,2002,70.396000,30.1,81.131,NaN
3,Brazil,2003,70.884000,28.1,78.025,NaN
4,Brazil,2004,71.361000,26.3,76.900,NaN
...,...,...,...,...,...,...
115,United States,2019,78.787805,6.5,16.202,100.063431
116,United States,2020,76.980488,6.5,14.719,100.509819
117,United States,2021,76.329268,6.5,13.724,101.192490
118,United States,2022,77.434146,6.5,13.628,97.473488
119,United States,2023,78.385366,6.5,13.145,NaN

In [8]:
df_clean.to_csv("population_dynamics_clean.csv", index=False)